<div class="main-wrapper">
   <app-header></app-header>
   <app-sidebar></app-sidebar>
   <div class="page-wrapper">
      <div class="content">
         <div class="row">
            <div class="col-lg-12">
               <h4 class="page-title">Add Room</h4>
            </div>
         </div>
         <div class="row">
            <div class="col-lg-12">
               <!-- <p *ngIf="message" class="text-center error">{{message}}</p> -->
               <form class="form" [formGroup]="submitForm" >
                  <!-- form array  -->
                  <div>
                    <!--  <div formArrayName="inputArr">
                        <div *ngFor="let opt of submitForm.get('inputArr')['controls']; let i=index "> -->
                           <!-- <div [formGroupName]="i"> -->
                              <div class="row">
                                 <div class="col">
                                    <label>Floor</label>
                                    <select class="form-control" formControlName="floor"
                                       [ngClass]="{ 'is-invalid input-margin': isSubmitted && f.floor.errors }">
                                       <option selected>Choose a Floor</option>
                                       <option *ngFor="let floor of floors">{{floor}}</option>
                                    </select>
                                     <div *ngIf=" isSubmitted && f.floor.errors" class="invalid-feedback">
                                                        <div *ngIf="f.floor.errors.required">Floor
                                                         is
                                                        required</div>
                                                       <!--  <div *ngIf="f.floor.errors.pattern">Only alphabets is accepted</div> -->
                                                    </div>
                                    <!-- <div *ngIf="opt.controls.floor.errors.required">Medicine
                                       type is
                                       required
                                       </div> -->
                                 </div>
                                 <div class="col">
                                    <label class="">Room Name</label>
                                    <input type="text" class="form-control" formControlName="roomName"
                                       [ngClass]="{ 'is-invalid input-margin': isSubmitted && f.roomName.errors }" />
                                    <div *ngIf="isSubmitted && f.roomName.errors"
                                                        class="invalid-feedback">
                                                        <div *ngIf="f.roomName.errors.required">Room name is
                                                            required
                                                        </div>
                                                        <div *ngIf="f.roomName.errors.pattern">Special characters are
                                                            not allowed</div>
                                                            <div *ngIf="f.roomName.hasError('whitespace')">Space not allowed</div>
                                                    </div>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="col">
                                    <div class="form-group">
                                       <label>Room Number<span class="text-danger">*</span></label>
                                       <input class="form-control" type="number"
                                          formControlName="roomNumber" min="0" [ngClass]="{ 'is-invalid input-margin': isSubmitted && f.roomNumber.errors }" >
                                        <div *ngIf="isSubmitted && f.roomNumber.errors" class="invalid-feedback">
                                                                <div *ngIf="f.roomNumber.errors.required">Room Number is required</div>
                                                            </div>
                                    </div>
                                 </div>
                                 <div class="col">
                                    <div class="form-group">
                                       <label>Specialization<span class="text-danger">*</span></label>
                                       <select class="form-control" formControlName="specialization"
                                          [ngClass]="{ 'is-invalid input-margin': isSubmitted && f.specialization.errors }">
                                          <option selected>Choose a Specialization</option>
                                          <option *ngFor="let dept of depts">{{dept}}</option>
                                       </select>
                                      <div *ngIf=" isSubmitted && f.specialization.errors"
                                                            class="invalid-feedback">
                                                            <div *ngIf="f.specialization.errors.required">Specialisation
                                                                 is required</div>
                                                        </div>
                                    </div>
                                 </div>
                              </div>
                              <!-- <div class="row">
                                 <div class="col">
                                    <div class="form-group">
                                       <label>Room StartTime<span class="text-danger">*</span></label>
                                       <input class="form-control" type="time"
                                          formControlName="startTime" [ngClass]="{ 'is-invalid input-margin': isSubmitted && f.startTime.errors }">
                                       <div *ngIf="f.startTime.errors" class="invalid-feedback">
                                          <div *ngIf="f.startTime.errors.required">Room Start Time is required</div>
                                          </div>
                                    </div>
                                 </div>
                                 <div class="col">
                                    <div class="form-group">
                                       <label>Room End Time<span class="text-danger">*</span></label>
                                       <input class="form-control" type="time"
                                          formControlName="endTime" [ngClass]="{ 'is-invalid input-margin': isSubmitted && f.endTime.errors }">
                                       <div *ngIf="f.endTime.errors" class="invalid-feedback">
                                          <div *ngIf="f.endTime.errors.required">Room End Time is required</div>
                                          </div>
                                    </div>
                                 </div>
                              </div> -->
                              <div class="row">
                                 <div class="col">
                                    <div class="form-group" >
                                       <label>Rent Per Hour</label>
                                       <input class="form-control" type="number"
                                          formControlName="rentPerMonth" min="0" [ngClass]="{ 'is-invalid input-margin': isSubmitted && f.rentPerMonth.errors }">
                                       <div *ngIf="f.rentPerMonth.errors && isSubmitted" class="invalid-feedback">
                                          <div *ngIf="f.rentPerMonth.errors.required">Rent is required</div>
                                          </div>
                                    </div>
                                 </div>
                                 <div class="col">
                                    <label>Select Days<span class="text-danger">*</span></label>
                                    <ng-multiselect-dropdown [placeholder]="'select days'"
                                    [data]="dropdownList" formControlName="days"
                                    [settings]="dropdownSettings" (onSelect)="onItemSelect($event)"
                                    (onSelectAll)="onSelectAll($event)">
                                    </ng-multiselect-dropdown>
                                 </div>

                              </div>
                              
                            <!--   <div class="row">
                                 <div class="col-lg-12">
                                    <button type="button" class="btn add_more_options"  (click)="initItemRows()"><i classs="fa fa-add"></i> Add more
                                    rooms</button>
                                    &nbsp; &nbsp;
                                 </div>
                              </div> -->
                           <!-- </div> -->
                          <!--  <span *ngIf="submitForm.get('inputArr')['controls'].length > 1">
                           <button type="button" class="btn add_more_options"
                              style="color: #6264a7; margin-left: -25px;" (click)="removeRow(i)"><i
                              classs="fa fa-plus"></i> Remove
                           rooms</button>
                           </span> -->
                        <!-- </div>
                     </div> -->
                  </div>
                  <div class="row">
                     <div class="col-lg-10">
                        &nbsp;
                     </div>
                     <div class="col-lg-2">
                        <button  class="add-btns-top btn btn btn-primary btn-rounded" routerLink="/master/room"><i class="fa fa-arrow-left"></i>Back</button>
                        <button class="btn btn-primary submit-btn add-btns-bottoms" (click)="addData(submitForm.value)" >Add</button>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>